/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


/*
* Importiere Szenen CSS
* ICH HASSE JAVAFX CSS ICH MÖCHTE DAS NIE WIEDER BENUTZEN - BITTE NÄCHSTES MAL WIEDER WEBANWENDUNG MIT NORMALEM CSS :-(
*/
@import "styles/playlistoverview.css";
@import "styles/settings.css";
@import "styles/player.css";

/*
* Importiere Komponenten CSS
*/
@import "styles/uicomponents/slider.css";
@import "styles/uicomponents/menu.css";
@import "styles/uicomponents/songBox.css";
@import "styles/uicomponents/controls.css";

* {
	font-family: Helvetica, serif;
}

.main-text {
	-fx-alignment: center;
	-fx-font-family: "Lucida Grande", Helvetica;
	-fx-font-size: 22;
}

#controller{
	-fx-alignment: center;
	-fx-padding: 10;
}

.list Label {
	-fx-text-fill: white;
	-fx-fill: white;
	-fx-font-size: 18px;
	-fx-font-family: "HK Grotesk Wide", Helvetica, serif;
	-fx-font-weight: bold;
}

.list-cell {
	-fx-min-width: 1000px;
	-fx-background-color: #182434;
	-fx-text-alignment: center;
	-fx-text-fill: white;
	-fx-fill: white;
	-fx-font-size: 18px;
	-fx-font-family: "HK Grotesk Wide", Helvetica, serif;
	-fx-font-weight: bold;
}

.list-cell:hover {
	-fx-background-color: #ff5500;
	-fx-cursor: hand;
}

.list-cell_label {
	-fx-text-fill: white;
	-fx-fill: white;
	-fx-font-size: 18px;
	-fx-font-family: "HK Grotesk Wide", Helvetica, serif;
	-fx-font-weight: bold;
}

.settings_pause {
	-fx-background-color: #3f3f40;
	-fx-opacity: 0.9;
}

.gamescreen {
	-fx-background-image: url("images/game_arena.png");
	-fx-background-position: center;
	-fx-background-size: cover;
}

.highscore {
	-fx-text-fill: white;
	-fx-font-family: "HK Grotesk Wide";
	-fx-font-size: 30px;
	-fx-font-weight: bold;
	-fx-padding: 10;
}

.button-click {
	-fx-border-radius: 80px;
	-fx-min-width: 75px;
	-fx-min-height: 75px;
	-fx-background-size: 73px 73px;
	-fx-background-position: center;
	-fx-font-size: 40px;
	-fx-text-fill: white;
	-fx-background-color: black;
	-fx-background-radius: 73px;
	-fx-border-color: white;
}

.button-click.inactive {
	visibility: hidden;
}

.timerCircle {
	-fx-background-color: #ff6700;
}

.timerCircle.inactive {
	visibility: hidden;
}

.icon-button.active {
	-fx-background-color: #ff6700;
}

.icon-button.inactive{
	visibility: hidden;
}

.round-button {
	-fx-background-radius: 10px;
	-fx-background-color: #182434;
	-fx-text-fill: white;
	-fx-font-size: 20px;
	-fx-font-family: Helvetica;
	-fx-min-width: 32;
	-fx-min-height: 32;
	-fx-background-size: 28 28;
	-fx-background-position:center;
	-fx-border-color: #3f3f40;
	-fx-border-radius: 10px;
}

.menu-button {
	-fx-min-width: 350px;
	-fx-border-color: white;
	-fx-border-radius: 10px;
	-fx-font-size: 28px;
	-fx-background-color:#ff6700;
	-fx-font-family: "HK Grotesk Wide", Helvetica, Serif;
	-fx-text-fill: white;
	-fx-min-height: 32px;
	-fx-background-size: 28 28;
	-fx-background-position: center;
	-fx-background-radius: 10px;
	-fx-padding: 12px;
}

.return-button {
	-fx-background-radius: 10px;
	-fx-background-color: #ff6700;
	-fx-text-fill: white;
	-fx-font-size: 20px;
	-fx-font-family: "HK Grotesk Wide", Helvetica;
	-fx-min-width: 32;
	-fx-min-height: 32;
	-fx-background-size: 28 28;
	-fx-background-position:center;
	-fx-border-color: #3f3f40;
	-fx-border-radius: 10px;
	-fx-start-margin: 10px;
}

.round-button:hover {
	-fx-background-color: #ff5500;
}

.title {
	-fx-font-size: 40px;
	-fx-text-fill: white;
	-fx-fill: white;
	-fx-font-family: "HK Grotesk Wide", Helvetica;
	-fx-text-alignment: center;
	-fx-font-weight: bold;
}

.input-label {
	-fx-text-fill: white;
	-fx-font-size: 18px;
}

.input-field {
	-fx-min-width: 200px;
	-fx-text-fill: white;
	-fx-font-size: 18px;
	-fx-background-color: #182434;
	-fx-border-color: white;
	-fx-border-radius: 10px;
}

.container {
	-fx-background-color: #182434;

}

.bottom-container {
	-fx-background-color: #182434;
	-fx-border-style: solid none none none;
}

.center {
	-fx-alignment: center;
}

.top-center {
	-fx-alignment: top-center;
}

.left-center {
	-fx-alignment: center-left;
}

.right-center {
	-fx-alignment: center-right;
}

#playlistCenter {
	-fx-alignment: center;
}

.icon-button {
	-fx-background-color: none;
	-fx-border-color: transparent;
	-fx-min-width: 32;
	-fx-min-height: 32;
	-fx-background-size: 28 28;
	-fx-background-position: center;
}
Button, Button:hover {
	-fx-cursor: hand;
}

.full-width {
	-fx-pref-width: 100%;
}

.icon-button:hover {
	-fx-background-color: #ff5500;
}

.skipButtonPrev{
	-fx-background-image: url("icons/skipButtonPrev.png");
}

.playButton{
	-fx-background-image: url("icons/playButton.png");
}

.playButtonBlack{
	-fx-background-image: url("icons/playButtonBlack.png");
}

.skipButtonNext{
	-fx-background-image: url("icons/skipButtonNext.png");
}

.backButton {
	-fx-background-image: url("icons/backButton.png");
}

.pauseButton {
	-fx-background-image: url("icons/pauseButton.png");
}

.volumeButton {
	-fx-background-image: url("icons/volume.png");
}


.shuffleButton {
	-fx-background-image: url("icons/shuffleButton.png");
}

.repeatButton {
	-fx-background-image: url("icons/replayButton.png");
}


.musicBar {
	-fx-content-display: block;
}

.gameBackground {
    -fx-background-image: url("images/game_arena.png");
    -fx-background-position: center;
    -fx-background-size: cover;
}